<div id="recharge-popup" style="display: none">
<div>
    <span class="close" onclick="hideRechargePopup()">Close</span>
    <h1>Test
    </h1>

    <div class="form-row row popup-products">
      <div class="col-md-12">
        Product 1
        <input type="button" class="btn btn-primary" onclick="addToCartRecurring(this, 932937617)" value="Add to cart">
        <select class="days">
          <option>30</option>
          <option>60</option>
          <option>90</option>
        </select>
      </div>
      <br>

      <div class="col-md-12">
        Product 2
        <input type="button" class="btn btn-primary" onclick="addToCartRecurring(this, 932944069)" value="Add to cart">
        <select class="days">
          <option>30</option>
          <option>60</option>
          <option>90</option>
        </select>
      </div>
      <br>

      <div class="col-md-12">
        Product 3
        <input type="button" class="btn btn-primary" onclick="addToCartRecurring(this, 933158081)" value="Add to cart">
        <select class="days">
          <option>30</option>
          <option>60</option>
          <option>90</option>
        </select>
      </div>
      <br>

      <div class="col-md-12">
        Product 4
        <input type="button" class="btn btn-primary" onclick="addToCartRecurring(this, 933148465)" value="Add to cart">
        <select class="days">
          <option>30</option>
          <option>60</option>
          <option>90</option>
        </select>
      </div>
      <br>

      <div class="col-md-12">
        Product 5
        <input type="button" class="btn btn-primary" onclick="addToCartRecurring(this, 933153397)" value="Add to cart">
        <select class="days">
          <option>30</option>
          <option>60</option>
          <option>90</option>
        </select>
      </div>
      <br>

      <div class="col-md-12">
        Product 6
        <input type="button" class="btn btn-primary" onclick="addToCartRecurring(this, 932943453)" value="Add to cart">
        <select class="days">
          <option>30</option>
          <option>60</option>
          <option>90</option>
        </select>
      </div>
      <br>
    </div>
    <br><br>

    <div class="form-row row buy-btn">
      <div class="col-md-12" id="buy-btn-container">
        <input type="button" class="btn btn-primary" onclick="location.href = '/cart'" value="Go to cart">
        <input type="button" class="btn btn-primary" onclick="removeFromCart()" value="No thanks">
      </div>
    </div>

</div>
</div>

<style>
#recharge-popup {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 500px;
  height: 400px;
  z-index: 1000;
  background: white;
  display: none;
  border: 1px solid;
  padding: 20px;
}
</style>